* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}


/*定义整个页面头部*/

.headPart {
	width: auto;
	height: 167px;
}


/*定义头部中的顶层*/

.headPart .HeaderTop {
	width: auto;
	height: 31;
	border-bottom: 1px solid #808080;
	background-color: #f7f7f7;
}

.headPart .headerTop {
	width: 1200px;
	height: 31px;
	margin: 0 auto;
}

.headPart .headerTop .headerTopRight {
	width: 126px;
	height: 29px;
	position: relative;
	float: right;
}


/*登录注册样式*/

.headPart .headerTop .headerTopRight .hTRL {
	display: inline;
	width: 80px;
	position: relative;
	float: left;
}


/*喇叭 公告样式*/

.headPart .headerTop .headerTopRight .hTRL a {
	padding-left: 26px;
	line-height: 32px;
	background-image: url(images/notice.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	font-size: 12px;
	font-family: "宋体";
	color: #808080;
}


/*微信和微博图标放置盒子*/

.headPart .headerTop .headerTopRight .hTRR {
	display: inline;
	width: 48px;
}


/*微信图标*/

.hTRR a.vweixin {
	display: inline;
	width: 21px;
	height: 20px;
	position: absolute;
	float: left;
	line-height: 32px;
	margin-top: 8px;
	background: url(images/w1.jpg) no-repeat;
}


/*微博图标*/

.hTRR a.vweibo {
	display: inline;
	width: 21px;
	height: 20px;
	float: right;
	line-height: 32px;
	margin-top: 8px;
	background: url(images/w2.jpg) no-repeat;
}

.headPart .headerTop .headerTopLeft {
	width: 303px;
	height: 32px;
	position: relative;
	float: right;
	font-size: 12px;
	font-family: 宋体;
	line-height: 32px;
	color: #808080;
}

.headPart .headerTop .headerTopLeft a {
	color: #808080;
}


/*输入部分样式*/

.headPart .inputPart {
	width: 1200px;
	height: 62px;
	margin: 20px auto 25px;
}


/*搜索大部分*/

.inputPart .inputSearch {
	padding-top: 8px;
	width: 438px;
	height: 52px;
	float: right;
}


/*搜索框和购物车盒子*/

.inputPart .inputSearch .SearchTab {
	height: 29px;
}


/*搜索框和按钮盒子*/

.inputPart .inputSearch .SearchTab .SearchTab_1 {
	width: 310px;
	float: left;
}


/*输入框*/

.SearchTab .SearchTab_1 .searchText {
	width: 261px;
	height: 27px;
	position: absolute;
	padding: 0px;
	line-height: 27px;
	border: 1px solid #c9caca;
}


/*搜索按钮*/

.SearchTab .SearchTab_1 .searchBtn {
	display: inline-block;
	position: relative;
	float: right;
	width: 49px;
	height: 29px;
	border: none;
	cursor: pointer;
	background: url(images/vanclsprite.png) no-repeat -100px 0px;
}


/*购物车盒子*/

.SearchTab .SearchTab_2 {
	width: 107px;
	height: 29px;
	float: right;
	background: url(images/vanclsprite.png) no-repeat -152px 0px;
}

.SearchTab .SearchTab_2 .shopping {
	display: block;
	text-decoration: none;
	font-family: "宋体";
	padding-left: 29px;
	padding-top: 6px;
}

.SearchTab .hotWords {
	width: 440px;
	height: 23px;
}

.hotWords .words {
	width: 440px;
	height: 18px;
	font-size: 12px;
	padding-top: 5px;
	line-height: 18px;
	color: #727171;
	padding-left: 15px;
}

.hotWords .words a {
	padding-left: 5px;
	color: #727171;
}

.menu {
	width: 1200px;
	height: 46px;
	margin: 0px auto 30px;
}

ul {
	list-style: none;
	display: block;
}

ul li {
	float: left;
	width: 99px;
	line-height: 22px;
	margin-top: 24px;
	text-align: center;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	position: relative;
}

li.line {
	display: block;
	height: 16px;
	width: 1px;
	right: 1px;
	top: 5px;
	border-right: solid 1px #888;
	overflow: hidden;
}

ul li.logo {
	display: block;
	width: 185px !important;
	height: 46px;
	margin: 0px;
}

li.logo a {
	width: 185px;
	height: 46px;
	background: url(images/logo.png) no-repeat;
}

ul li a {
	text-decoration: none;
	display: block;
	color: #727171;
	padding-bottom: 10px;
}

.menu ul li ul {
	position: absolute;
	border-top: 5px solid #B81C22;
	display: none;
	background-color: white;
}

.menu ul li ul li {
	float: none;
	line-height: 22px;
	text-align: center;
}

.menu ul li ul li a {
	width: 100%;
}

.menu ul li a:hover {
	color: #b81c22;
}

.menu ul li:hover ul {
	display: block;
	z-index: 5;
}


/*轮播图部分*/

.dc3 ul {
	list-style: none;
}

#container {
	position: relative;
	width: 1200px;
	height: 535px;
	overflow: hidden;
	margin: 30px auto 0px;
	/*隐藏溢出的图片*/
}

.pic {
	width: 6000px;
	/*5张图的宽度*/
	position: absolute;
	/*基于父容器进行定位*/
	left: 0;
	animation-name: focusmap;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}

@keyframes focusmap {
	0%,
	16% {
		left: 0;
	}
	21%,
	37% {
		left: -1200px;
	}
	42%,
	58% {
		left: -2400px;
	}
	63%,
	81% {
		left: -3600px;
	}
	86%,
	99% {
		left: -4800px;
	}
	100% {
		left: -6000px;
	}
}

.pic li {
	width: auto;
	float: left;
}

.pic li img {
	width: 100%;
	height: 535px;
}


/*圣诞优惠展台的样式*/

.getMoney {
	width: 1200px;
	height: 50px;
	margin: 40px auto;
}

.discount {
	width: 1200px;
	height: 60px;
	margin: 25px auto 20px;
}

.showPic {
	width: 1200px;
	height: 525px;
	margin: 0px auto;
}

.partone {
	width: 590px;
	height: 509px;
	float: left;
	margin-right: 17px;
}

.parttwo {
	width: 290px;
	height: 525px;
	float: left;
	margin-right: 17px;
}

h3 {
	height: 28px;
	padding: 20px 12px;
	line-height: 28px;
	border: 1px solid #e8e7ec;
	border-top: 0px;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	font-weight: normal;
	color: #333333;
}

h3 span {
	float: right;
	color: #a10000;
	font-family: Arial;
	font-weight: normal;
	line-height: 24px;
	font-size: 14px;
}

span em {
	font-size: 16px;
	padding-left: 10px;
	font-style: normal;
	font-weight: normal;
}

.one {
	width: 290px;
	height: 249px;
	margin-bottom: 16px;
}

.two {
	width: 290px;
	height: 244px;
	margin-bottom: 16px;
}

.partthree {
	width: 286px;
	height: 509px;
	float: left;
}

.showPic_Last {
	width: 1200px;
	height: 528px;
	margin: 0px auto;
}

.showPic_Last div {
	width: 285px;
	height: 509px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}


/*主页底部的样式*/

.foot {
	overflow: hidden;
	width: 1118px;
	height: 282px;
	margin: 32px auto 0px;
	padding: 0px 40px 0px;
	border: 1px solid #e0e0e1;
	font-family: "Microsoft YaHei";
	margin-bottom: 25px;
}

.foot .footserve {
	margin: 33px 0px 23px;
	overflow: hidden;
}

.footserve div {
	width: 370px;
	height: 138px;
	border-right: 1px solid #e0e0e1;
	float: left;
}

.footserve div a .onlinePic {
	margin: 15px auto 30px;
	text-align: center;
	font-size: 14px;
	color: #727171;
	line-height: 26px;
}

.footserve div a .onlineTime {
	margin: 0px auto;
	width: 156px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
	background: #b81c22;
	color: #ffffff;
}

.footserve div a .seven {
	margin: 20px 0px;
	text-align: center;
	font-size: 14px;
	color: #727171;
	line-height: 26px;
}

.footserve p {
	text-align: center;
	font-size: 14px;
	color: #727171;
	line-height: 26px;
	font-family: "Microsoft YaHei";
}

.footserve p em {
	color: #a10000;
	font-style: normal;
	font-weight: normal;
}

.serveline {
	height: 26px;
	padding: 17px 0px 14px;
	background: #f8f8f8;
	width: 100%;
	margin: 0;
}

.serveline a {
	padding: 0px 65px;
	line-height: 26px;
	border-right: 1px solid #dadadb;
	width: auto;
	text-align: center;
	float: left;
	font-family: "Microsoft YaHei";
	color: #333;
	font-size: 12px;
}


/*广告赞助及友情链接的样式*/

.footerArea {
	width: 100%;
	height: 136px;
	border-top: 1px solid #3e3a39;
}

.footBottom {
	width: 1200px;
	height: auto;
	margin: 10px auto;
}

.footBottom p {
	text-align: center;
	line-height: 25px;
	color: #3e3a39;
	font-family: "Microsoft YaHei";
	font-size: 12px;
}

.Clear {
	width: 100%;
	height: 20px;
	line-height: 0px;
	font-size: 0px;
	clear: both;
	overflow: hidden;
}

.subFooter {
	width: 980px;
	height: 45px;
	margin: 0px auto 25px;
	text-align: center;
}

.subFooter .one {
	display: inline-block;
	height: 42px;
	width: 113px;
	background: url(images/友情链接.png) no-repeat scroll 0 -581px transparent;
	margin: 0 10px;
}

.subFooter .two {
	display: inline-block;
	height: 45px;
	width: 156px;
	margin: 0 10px;
	background: url(images/友情链接.png) no-repeat scroll 0 -629px transparent;
}

.subFooter .three {
	display: inline-block;
	height: 42px;
	width: 96px;
	margin: 0 10px;
	background: url(images/友情链接.png) no-repeat scroll 0 -675px transparent;
}

.subFooter .four {
	display: inline-block;
	height: 42px;
	width: 101px;
	margin: 0 10px;
	background: url(images/友情链接.png) no-repeat scroll -97px -675px transparent;
}

.subFooter .five {
	display: inline-block;
	margin: 0 10px;
	height: 42px;
	width: 42px;
	background: url(images/友情链接.png) no-repeat scroll -202px -675px transparent;
}

.subFooter .six img {
	width: 120px;
	height: 39px;
}


/*固定导航栏的样式*/

.BayWindow {
	position: fixed;
	right: 10px;
	bottom: 20px;
	z-index: 10;
	width: 73px;
	height: 205px;
	border: 1px solid #b81b22;
	border-bottom: none;
	margin-bottom: 30px;
}


/*
.BayWindow .downApp {
    width: 73px;
    height: 77px;
    border-bottom: 1px solid #b81b22;
}
*/
